.table-container{
        width: 90%;
        border-collapse: collapse;
        text-align: center;
        border-radius: 8px;
        overflow: hidden;
                 .header-content{
                padding: 20px;
            }
             .table-body{

            .tbody-tr{
                padding: 10px;
                // display: flex;
                border: 1px solid black;
           
   .table-content{
    align-items: center;
    justify-content: center;
    padding: 10px;
    }
}
}
}           